{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="heading" >
    <div class="logo">
        <a class="linkLogo" href="/">
            <h1 class="logoText">ЛеонМаркет</h1>
        </a>
    </div>
    <form>
        <input type="text" placeholder="Поиск...">
        <button type="submit" class="buttonSearch"></button>
    </form>
    <div class="navigation">
        <a class="linksNavigation" href="/products">Каталог</a>
        <a class="linksNavigation" href="/discounts">Акции</a>
        <a class="linksNavigation" href="/basket">Корзина</a>
    </div>
</div>



<div class="productList">
    {% for product in products %}
<div class="product">
    <img class="productPreview" src="{{ product.image_url }}">
    <div class="text">
        <a class="linksToProduct" href="/product/{{product.id}}">
            <h2 class="textBlue">{{ product.name }}</h2>
        </a>
        <p>{{ product.description }}</p>
    </div>
    <div class="priceSection">
        <h3>{{ product.price }} ₽</h3>
        <button class="buttonBuy">Купить</button>
    </div>
</div>
    {% endfor %}
</div>>

