{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="heading" >
    <div class="logo">
        <a class="linkLogo" href="/">
            <h1 class="logoText">ЛеонМаркет</h1>
        </a>
    </div>
    <form>
        <input type="text" placeholder="Поиск...">
        <button type="submit" class="buttonSearch"></button>
    </form>
    <div class="navigation">
        <a class="linksNavigation" href="/products">Каталог</a>
        <a class="linksNavigation" href="/discounts">Акции</a>
        <a class="linksNavigation" href="/basket">Корзина</a>
    </div>
</div>


<div class="productCard">
    <img src="{{product.image_url}}">
    <div class="productInfo">
        <h1>{{product.name}}</h1>
        <h3>{{product.price}} ₽</h3>
        <button class="buttonBuy">Купить</button>
    </div>
</div>


<div class="productDetails">
    <h1>Описание:</h1>
    <p>
        {{product.description}}
    </p>
</div>

<div class="productDetails">
    <h1>Отзывы:</h1>

    <div class="reviews">
        <div class="review">
            <div class="reviewHeader">
                <h2>Антон</h2>
                <h2 class="textGreen">Положительный</h2>
            </div>
            <p>
                Задача организации, в особенности же постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития. С другой стороны сложившаяся структура организации способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям.
            </p>
        </div>
    </div>
</div>
